{% extends "base.html" %}

{%block title %}D.V. Portfolio ENG{% endblock %}
{%block language %}<a href="#" class="btn btn-primary btn-mg active" role="button" aria-pressed="true">ENG</a>
                    <a href="../ru" class="btn btn-secondary btn-mg active" role="button" aria-pressed="true">RU</a>
{% endblock %}

{%block me %}ME{% endblock %}
{%block who %}WHO{% endblock %}
{%block what %}WHAT{% endblock %}
{%block where %}WHERE{% endblock %}

{%block whatam %}What Am I? Who Am I?{% endblock %}
{%block name %}I'm an Daniil Volk{% endblock %}

{% block worktitle %} What Am I doing? {% endblock %}
{% block work %} Just trying to learn web... {% endblock %}

{% block whereto %}Where To Find Me?{% endblock %}
{% block youcan %}You can do the next:{% endblock %}
{% block press %}Press it{% endblock %}

{% block discord %}If you wanna call to me, you can join my <a href=https://discord.gg/ENpxhdv><i>discord group</i></a>{% endblock %}