{% extends "base.html" %}

{%block title %}Д.В. Портфолио {% endblock %}
{%block language %}<a href="../eng" class="btn btn-secondary btn-mg active" role="button" aria-pressed="true">ENG</a>
                    <a href="#" class="btn btn-primary btn-mg active" role="button" aria-pressed="true">RU</a>
{% endblock %}

{%block me %}Я{% endblock %}
{%block who %}КТО{% endblock %}
{%block what %}ЧТО{% endblock %}
{%block where %}ГДЕ{% endblock %}

{%block whatam %}Что я? Кто я?{% endblock %}
{%block name %}Я Даниил Волк{% endblock %}

{% block worktitle %} Что я делаю? {% endblock %}
{% block work %} Просто пытаюсь учить веб... {% endblock %}

{% block whereto %}Где найти меня?{% endblock %}
{% block youcan %}Можно попробовать сделать следующее:{% endblock %}
{% block press %}Нажать кнопку{% endblock %}

{% block discord %}Если хочется поболтать со мной, можно зайти в мою <a href=https://discord.gg/ENpxhdv><i>группу в дискорде</i></a>{% endblock %}